:root {
    --primar-color: #E11D3F;
}

.Notifications {
    display: flex;
    flex-direction: row;
    border: 2px dashed var(--primar-color);
    margin: 20px;
    padding: 1rem;
}

[data-notification-type="default"] {
    color: blue;
}

[data-notification-type="urgent"] {
    color: red;
}
