#count {
    display: inline;
    font-weight: bold;
    margin-left: 10px;
}

#logo {
    width: 200px;
    height: 200px;
    background-image: url(a74edfdfa4e1be32bf0c.jpg);
    background-size: 200px 200px;
}

